.App {
    display: flex; 
    flex-direction: column;
    height: 100vh; /*100% of viewport height*/
    width: 100vw; /*100% of viewport width*/
}
.App-header {
    width: 100%;    
    background: linear-gradient(to left, #00b7ff, #87d7f7);
}
.App-body {
    width: 100%;
    flex: 1 1 auto; /*Fills up height not taken by App-header and App-footer*/
}
.App-footer {
    width: 100%;
    background: linear-gradient(to left, #00b7ff, #87d7f7);
}